<app-topo></app-topo>
<div *ngIf="!!jogoEmAndamento; else fimDeJogo ">
  <app-painel (encerrarJogo)="encerrarJogo($event)"></app-painel>
</div>

<ng-template #fimDeJogo>
  <div *ngIf="tipoEncerramento === 'derrota'; else fimDeJogoVitoria" class="container">
    <div class="row">
      <div class="col">
        <h3 class="title-derrota">
          Fim de Jogo! Infelizmente você perdeu :S
        </h3>
        <button class="btn btn-primary" (click)="reiniciarJogo()">Reiniciar</button>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #fimDeJogoVitoria>
  <div class="container">
    <div class="row">
      <div class="col">
        <h3 class="title-vitoria">
          Fim de Jogo! Você ganhou =D
        </h3>
        <button class="btn btn-primary" (click)="reiniciarJogo()">Reiniciar</button>
      </div>
    </div>
  </div>
</ng-template>
