<app-header></app-header>
<div *ngIf="jogoAtivo; else jogoEncerrado">
  <app-panel (encerrarJogo)="encerraJogo($event)"></app-panel>
</div>

<ng-template #jogoEncerrado>
  <div *ngIf="tipoEncerramento === 'vitoria'" class="d-flex flex-row justify-content-center mt-5">
    <h3 class="text-success">Parabéns você venceu! =)</h3>
  </div>
  <div *ngIf="tipoEncerramento === 'derrota'" class="d-flex flex-row justify-content-center mt-5">
    <h3 class="text-danger">Que pena, você perdeu. =(</h3>
  </div>
  <div class="d-flex flex-row justify-content-center">
    <button (click)="reiniciarJogo()" mat-raised-button color="primary">Reiniciar</button>
  </div>
</ng-template>
